# Зависимости
node_modules/

# Переменные окружения (ключи, пароли)
.env
.env.local

# Логи
*.log
npm-debug.log*

# Системные файлы Windows
Thumbs.db
Desktop.ini

# Файлы macOS (на всякий случай)
.DS_Store

# Приватные данные (раскомментируйте, если не хотите публиковать saites.txt)
# saites.txt
.vercel
.env*

.vercel
.env*
